{{ define "main" }}
<div class="site-main-wrapper">
    <div class="single-archive">
        {{ range (where (where .Site.Pages "Type" "in" (slice "post" "posts")) "Kind" "page").GroupByPublishDate "2006-01"}}
        <div class="archive-group">
            <h2 class="group-title">{{ .Key }}</h2>
            <ul class="group-post-list">
                {{ range .Pages }}
                <li class="group-post">
                    <a class="post-wrapper" href="{{ .Permalink }}" title="{{ .Title }}">
                        <span class="post-date">{{ .Date.Format " 2006年01月02日 » " }}</span>
                        <span class="post-name">
                            {{ if .Title }}
                                {{ .Title }}
                            {{ else }}
                                {{ .File.LogicalName }}
                            {{ end }}
                        </span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
    {{ partial "paginator" . }}
</div>
{{ end }}