.archive-group {
  padding-bottom: 1.4rem;

  .group-title {
    margin: 0;
  }

  .group-post-list {
    line-height: 1.9;
  }

  .group-post {
    .publish-time {
      padding-right: 2rem;
      font-size: 1.5rem;
    }

    .post-date {
      padding-right: 1rem;
      font-size: 1.5rem;
    }

    .post-name {
      padding-right: 1rem;
      font-size: 1.5rem;
    }
  }
}
