@import "./variable.scss";

html {
  font-family: $font !important;
  font-feature-settings: "liga", "calt";
  letter-spacing: 1.6px;
  color: $textColor;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
}

.mermaid {
  * {
    font-family: $font !important;
    letter-spacing: 1px;
  }

  rect[rx="0"] {
    rx: 1;
    ry: 1;
  }

  svg {
    display: block;
    width: 90%!important;
    margin: 0 auto;
  }
}

a {
  color: $linkColor;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

html {
  overflow-x: hidden;
  font-size: 10px;
  min-height: 100vh;
  background-color: #f4f5f5;
}

body {
  min-height: 100vh;
  font-size: 1.3rem;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.ellipsis-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

/* 文章详情自动生成的目录 */
#TableOfContents {
  margin-bottom: 4rem;

  > ul {
    padding-left: 1rem !important;
    list-style: none !important;
  }

  ul {
    list-style-type: square;
  }
}


p > img {
  display: block;
  width: 100%;
}