@font-face {
  font-family: "customFont1";
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  src: url('/font/LJS.ttf') format('truetype'), 
}

@font-face {
  font-family: "customFont2";
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  src: url('/font/HYRunYuan.ttf') format('truetype'), 
}