@import "./variable.scss";

.theme-dark .md-render {
  color: #c0c0c0;

  blockquote {
    color: #999;
    border-left: 4px solid #384047;
  }

  table tr {
    border-top: 1px solid #384047;
  }

  table tr:nth-child(2n),
  thead {
    background-color: #384047;
  }

  table tr th {
    border: 1px solid #384047;
  }

  table tr td {
    border: 1px solid #384047;
  }

  code,
  pre,
  samp,
  tt {
    border: 1px solid #384047;
    background-color: #384047 !important;
  }
}
