@import "./variable.scss";

.theme-light .md-render {
  color: #24292e;

  blockquote {
    color: #777;
    border-left: 4px solid #dfe2e5;
  }

  table tr {
    border-top: 1px solid #dfe2e5;
  }

  table tr:nth-child(2n),
  thead {
    background-color: #f8f8f8;
  }

  table tr th {
    border: 1px solid #dfe2e5;
  }

  table tr td {
    border: 1px solid #dfe2e5;
  }

  code,
  pre,
  samp,
  tt {
    border: 1px solid #e7eaee;
    background-color: #f8f8f8 !important;
  }
}
